{{#if link}}
    <a class="lp-button {{selectors}}" {{{attr}}} href="{{link}}"><span>{{title}}</span></a>
{{else}}
    <button class="lp-button {{selectors}}" {{{attr}}}><span>{{title}}</span></button>
{{/if}}