<div class="{{{type}}}" data-modal>
    <div class="{{{type}}}__backdrop" data-modal-backdrop></div>
    <div class="{{{type}}}__window">
        <button class="{{{type}}}__close-button" data-modal-close>
            <svg>
                <use xlink:href="#closeIcon"/>
            </svg>
        </button>
        <div class="{{{type}}}__modal-content" id="{{{type}}}ModalDestination">
            <!--content will here-->
        </div>
    </div>
</div>